
#map { height: 100%; }
.container-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.row-center {
    border: 2px solid #0aa023;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.col-md-6 {
    padding: 0;
}
.marker-group {
    margin-top: 15px;
    border: 2px dashed #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.marker-info-group {
    display: flex;
    flex-wrap: wrap;
}
.marker-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.marker-index {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 24px;
    margin-right: 5px;
}
.add-car-btn {
    border: 3px dashed red;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.generate {
    border: 3px dashed rgb(14, 131, 10);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
    text-align: center;
    background: #4d9b5a;
}

.btn-danger {
    margin-left: 10px;
    margin-right: 10px;
}
.btn-cross {
    padding: 0;
    font-size: 12px;
    line-height: 1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
